.info {
  background-image: url(./../img/info-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 150px 0px 0px 0px;
  &::before {
    content: '';
    position: absolute;
    height: 180px;
    background: #262c27;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-180px);
    z-index: 1;
  }
  // .info__inner

  // .info__top

  &__top {
    display: flex;
    gap: 85px;
    padding: 50px 0px 0px 0px;
    margin: 0px 0px 45% 0px;
  }

  // .info__top-text

  &__top-text {
    @include font-info-top-text;
    color: $color-main-text-2;
    padding: 215px 0px 0px 0px;
    width: 290px;
    position: relative;
  }

  &__top-text-one {
    padding-bottom: 105px;
  }
  &__top-text-two {
    border-bottom: 1px solid $color-main-text-2;
  }

  // .info__btn

  &__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    & span {
      padding: 12px 0px 0px 0px;
      display: block;
      color: $color-main-text-2;
    }
  }

  // .info__img

  &__img {
    position: relative;
    z-index: 4;
  }

  // .info__bottom

  &__bottom {
    display: flex;
    gap: 160px;
    padding-bottom: 50px;
  }

  // .info__title

  &__title {
    @include font-h3-title;
    color: $color-main-text-2;
    text-transform: uppercase;
  }

  // .info__bottom-list

  &__bottom-list {
    border-top: 1px solid $color-main-text-2;
    border-bottom: 1px solid $color-main-text-2;
    padding: 30px 0;
    width: 565px;
  }

  // .info__bottom-item

  &__bottom-item {
    @include font-info-text;
    color: $color-main-text-2;
    display: flex;
    gap: 25px;
    width: 737px;
    margin-bottom: 15px;
  }

  // .info__bottom-caption

  &__bottom-caption {
    width: 190px;
  }
  &__bottom-text {
    width: 440px;
  }
}

// =============== SECTIONE RAY ===============

.ray {
  padding: 151px 0px 0px 0px;
  // .rey__inneer

  &__inneer {
  }

  // .rey__title

  &__title {
    @include font-h3-title;
    color: $color-h3-title;
  }
}

.price {
  // .price__block

  &__block {
    display: flex;
    gap: 100px;
    padding: 30px 0px 0px 0px;
  }

  // .price__info

  &__info {
    position: relative;
    max-width: 500px;
    padding: 30px 0px 0px 0px;
  }

  // .price__list

  &__list {
    max-width: 292px;
  }

  // .price__item

  &__item {
    // &:nth-last-child(-1){
    //   margin: 0px 0px 25px 0px;
    // }
    &:not(:last-child) {
      margin: 0 0 25px 0;
    }
    &:last-child {
      margin: 0px 0px 50px 0px;
    }
  }

  // .price__item-title

  &__item-title {
    @include font-info-title;
    color: $color-main-text-1;
    &-active {
      color: $color-item-title-active;
    }
    margin: 0px 0px 5px 0px;
  }

  // .price__item-text

  &__item-text {
    @include font-info-text;
    max-width: 280px;
  }

  // .price__icon

  &__icon {
    position: absolute;
    width: 201px;
    height: 199px;
    @include font-icon-price;
    color: $color-header-btn;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./../img/svg/star.svg);
    bottom: 130px;
    right: 26px;
  }

  // .price__btn

  &__btn {
    width: 484px;
    height: 80px;
    text-transform: uppercase;
    border: 2px solid #0093a1;
    @include font-btn-price;
    color: $color-item-title-active;
    cursor: pointer;
  }

  // .price__img

  &__img {
    max-width: 600px;
  }
}
.btn {
  // .btn__buy

  &__buy {
  }
}
