// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$font-primary: 'Aleo', serif;

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif !default;

/// @type List
$font-family-rht: 'Red Hat Text', sans-serif !default;
$font-family-aleo: 'Aleo', serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
  'Monaco', monospace !default;

/// Copy background color
/// @type Color
$color-background: rgba(255, 255, 255, 0.7);

// $color-primary: ;
// $color-additional: ;
// $color-background-additional: ;
$color-text: #000000;
$color-link: rgb(15, 0, 229);
$color-menu: #ffffff;
$color-menu-hover: #ffffff;
$color-title-h1: #ffffff;
$color-description: #ffffff;
$color-placheholder: #f2785c;
$color-title-h2: #f2785c;
$color-title-h3: #0D606F;
$color-background-icon: #f2785c;
$color-step-descr: #0d606f;
$color-dot: rgba(242, 120, 92, 0.5);
$color-dot-hover: #f2785c;
$color-btn-text: #FFFFFF;
$color-stories-content: #0D606F;
$color-stories-read-more: #0D606F;
$color-text-footer: #ffffff;
$color-title-pop-up: #0D606F;
// $color-button: ;
// $color-hover: ;
// $color-active: ;

// Breakpoints
$xs: 320px; //mb6 320 <
$sm: 575px; // mb5 576 <
$md: 768px; // mb4
$lg: 992px; // mb3
$xl: 1200px; // mb2
$xxl: 1400px; // mb1

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 100vw !default;
$container-padding: 120px !default;
$padding-edge-screen: 15px !default; // отступ от края экрана мобильных устройств

// /// Breakpoints map
// /// @prop {String} keys - Keys are identifiers mapped to a given length
// /// @prop {Map} values - Values are actual breakpoints expressed in pixels
// $breakpoints: (
//   'small': 320px,
//   'medium': 768px,
//   'large': 1024px,
// ) !default;

// /// Relative or absolute URL where all assets are served from
// /// @type String
// /// @example scss - When using a CDN
// ///   $base-url: 'https://cdn.example.com/assets/';
// $base-url: '/assets/' !default;
