// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  background-image: url(./../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  // .header__top

  &__top {
    display: flex;
    align-items: center;
    padding: 57px 0px;
    gap: 100px;
    justify-content: flex-end;
  }

  // .header__btn

  &__btn {
    text-transform: uppercase;
    @include font-btn;
    width: 193px;
    height: 42.46px;
    background-color: $color-header-btn;
    padding: 12px 71px;
    cursor: pointer;
    border: none;
    color: $color-main-text-2;
    transition: background-color .2s ease;
    &:hover{
      background-color:$color-header-btn-hover;
      color: $color-main-text-1;
      border: none;
      // transition: background-color .2s ease;
    }
  }

  // .header__phone

  &__phone {
    @include font-phone;
    color: $color-main-text-1;
    cursor: pointer;
  }

  // .header__content

  &__content {
  }

  // .header__content-box

  &__content-box {
  }

  // .header__title

  &__title {
  }

  // .header__text

  &__text {
  }

  // .header__decor-text

  &__decor-text {
  }
}

.logo {
}
